* {
    padding: 0;
    margin: 0;
}

.navigate {
    display: flex;
    width: 85%;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    padding: 35px 0;
    height: 100px;
    border: 1px red;
}

.navigate ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    color: aqua;
    border: 1px red;

    

    }



body {
    background: url(./img/backgroundWEB.jpg);
    background-size: 220vh;
    background-repeat: no-repeat;
    margin-bottom: 20px;
    
    
    
}

.navigate img {
    size: 2px;
    width: 2;
    padding: 2;
    height: 150px;
    align-items: center;
    justify-content: center;
    opacity: 0.9;
    border-radius: 70%;
    
    
}

.header-content  {
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    border: 20;
    border-color: blue;

}

.header-content div h1 {
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.lists {
    color: aqua;
    background: transparent;
   border: 1px;



}


.header-text1 {
    justify-content: center;
    color: rgb(255, 255, 255);
    width: auto;
    padding: 200px;
    text-align: center;
    font-size: 50px;
    
    
}
    


.header-text1 h1 {
    font-weight: 400;
    
}

.header-content nav ul li a {
    justify-self: end;
    justify-content: end;
    text-decoration: none;
    
}

.content {
    align-items: center;
    text-align: center;
    
}

.login {
    text-decoration: none;
    background-color: transparent;
    padding: 10px 25px;
    font-size: 24px;
    

    
}

.sign-in {
    text-decoration: none;
    padding: 10px 25px;
    display: inline- block;
    background-color: transparent;
    font-size: 24px;

}

section div h1 {
    padding: 25px 15px;
    
    
}

.sign-in:hover {
    background-color: aquamarine;
    text-decoration: none;
    text-transform: uppercase;

}

.login:hover {
    background-color: aquamarine;
    text-decoration: none;
    text-transform: uppercase;
    

}


section .login {
    text-decoration: none;
}

.footer {
    background: linear-gradient( rgb(56, 26, 56), rgb(16, 45, 92));
    color: white;
    font-size: 10px;
    text-align: center;
    margin: 3px;
    padding: 10px;

    
}

.icons {
    text-align: center;
    display: flex;
    flex-direction: row;

    
}

    

